
@{
    ViewData["Title"] = "Home Page";
    var url = @Url.Action("CreatePost", "Home");
    var urlAddComment = @Url.Action("CreateComment","Home");
}

<div class="text-center">
    <h2 class="display-4">News Feed</h2>

    <form action='@url' method="post">
        <div class="container">
            <!-- <label for="content"><b>Post </b></label> -->
            <input type="text" width=30px placeholder="Add message" style="text-align: center" name="body" required>
            <button type="submit" class="btn btn-primary postbtn">post</button>
            <div class="clearfix">
            </div>
        </div>
    </form>

    <div class="flex-container justify-content-center">
    @foreach(var item in ViewData["Posts"] as IEnumerable<Acebook.Models.Post>)
    {
        string dataTarget = "#collapse" + item.Id;
        string divId ="collapse" + item.Id;

        <div id="accordion">
            <div class="card mt-3" id=@item.Id>
                <div class="card-header text-center">
                    <blockquote class="blockquote mb-0">
                        <p class="postBody">@item.Body</p>
                        <footer class="blockquote-footer">Posted at @item.CreatedAt by @foreach(var user in ViewData["Users"] as IEnumerable<Acebook.Models.User>)
                        {
                            if (user.Id == item.UserId)
                            {
                               <span>@user.Name</span>;
                            }
                        }
                        </footer>
                    </blockquote>
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target=@dataTarget aria-expanded="false" aria-controls=@divId>
                        Comments
                    </button>
                </div>
                 <div id=@divId class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        @foreach(var comment in ViewData["Comments"] as IEnumerable<Acebook.Models.Comment>)
                        {
                            if (comment.postId == item.Id)
                                {
                                    <div class="list-group">
                                        <div class="d-flex w-60 justify-content-between list-group-item list-group-item-action flex-column align-items-start active">
                                        <h6 class="mb-1 text-center" style="text-align: center">@comment.Body</h6>
                                        </div>
                                        <h6 class="mb-1"><small>@foreach(var commentUser in ViewData["Users"] as IEnumerable<Acebook.Models.User>)
                                                {
                                                if (commentUser.Id == comment.userId)
                                            {
                                                <span>@commentUser.Name</span>;
                                            }
                                            } @comment.CreatedAt</small></h6>
                                        <br>
                                    </div>
                                }
                        }
                        <form action='@urlAddComment' method="post">
                            <div class="container">
                                <!-- <label for="content"><b>Post </b></label> -->
                                <input type="text" placeholder="comment" style="text-align: center" name="body" required>
                                <input type="hidden" name="postId" value=@item.Id required>
                                <input type="hidden" name="userId" value=1 required>
                                <button type="submit" class="btn btn-primary postbtn" data-toggle="collapse" data-target=@dataTarget>Add comment</button>
                                <div class="clearfix">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
    </div>
    <br />

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log in to Acebook</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method='post' action='/signin' type='submit'>
                Email: <br>
                <input type="email" name="email"><br><br>
                Password: <br>
                <input type="password" name="password"><br><br>
                <input type ="submit" value="Sign In" class="btn btn-primary">
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
